:root {
  --primary-color: #631387;
  --text-color: #5c5c5c;
  --white-color: #fff;
  --dark-color: #5e5e5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background: linear-gradient(45deg, #022af2 0%, #f790f0 50%, #cef410 100%);
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-image: url('https://lh3.googleusercontent.com/HGQibmEwlvoqQg9JsRHztaugWpJsY7g4bZYydQ_aozlvGw_kJ-ECgvytlTx7W1nP6fuAoPc7eZn6qUrrAjVGFGAlZfggI_wDN5V1Ib6QuRtSQueQoGatui6uxo7hnpXJdoTnaLVwmHnNNaqkhEydvpfng1RgfFYOUtGuh9pgMh5gVX9hHJ8skCIRPpn1xDknhF2h3WhN98KSjdxZlnRsrj88QXYr5lnIUQ6nlRAzoaRk9ODitz485UPDbvruV5c8HQ6gqsXqNt9wfP70qvBzoWWMad1nlSdEYpQYPU9HREXjwji5q7SX_iiTAQ_W3UHonEqOFZBqdfo3GqsE0M15fUJCd53nwXkTJVsr1cm1B2Dl-Hvgu68Unca3hKzR9TnCkGIY05oVcsxdS_D-t6jNbgFMpHKnacbcp9FmRG8iFUFj9dQoyEJVpbAEpdl-KqBD5Fi5nCU2trS2B6ykjtQgNMcBtZmbOLDIYpdMZg1BXTA4FimXJsrcUwVcaMP7HqYCIqtMkBUVcMS4Iliy8-hRkwEr1_AcJ-yMI3iZ6Gn34x8cWINCOk0eRV-rQONrUJ5583x7g0tCI_ZApkvz-6yVe-bDO3tFjo-HRJgfVa9orsJJMNwRaq42kNHJ_ynPbNtvtEUCiinOD_gKNtAwvE4UHo_YXNvNBeVdBjnS2T45WtBPctmk0Y396MPd73bZkh_mC2GoJp9qZW8dUep13ejHnNtG6FFknpZdBotnDj4B6I6TAsVfYe40GA5_wJiRdOhu8M32sB0ixxLw0EyG01fRjPLADMZ4A17KX_dRb64b0Na9poMA2G0dgSSM5jzKczT3oomTofNrL_mdktqniwi5lJh0fw08_t_srYVNoA1I65eoAP1BmeT1GQUYr47jLnpI0RIj3E3IQ9qAcPDWa_-6BWAuyu_LfyN_OXoLgrXCrIwa3TW2buADa_8d2QaH8jb58pP71js1hnoUCLfQHok=w1249-h937-s-no?authuser=0');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  z-index: 999;
  box-shadow: 0px -5px 10px #631387;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--primary-color);
  font-size: 20px;
  text-shadow: 0px 0px white;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: var(--white-color);
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: var(--white-color);
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.progress-time {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  font-size: 1rem;
  margin: 0 10px 0;
}

/* PLAYLIST */
.playlist {
  margin-top: 427px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px #631387;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: var(--white-color);
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: var(--dark-color);
}
.song .option {
  padding: 16px 8px;
  color: var(--dark-color);
  font-size: 18px;
}

footer {
  height: 8vh;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 16px;
}
