:root {
  --primary-color: #631387;
  --text-color: #5c5c5c;
  --white-color: #fff;
  --dark-color: #5e5e5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background: linear-gradient(45deg, #022af2 0%, #f790f0 50%, #cef410 100%);
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-image: url('https://i.pinimg.com/originals/a0/ce/08/a0ce08c2b029ffaf2adfd9e3bdb52656.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  z-index: 999;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: var(--white-color);
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: var(--white-color);
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.progress-time {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  font-size: 1rem;
  margin: 0 10px 0;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: var(--white-color);
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: var(--dark-color);
}
.song .option {
  padding: 16px 8px;
  color: var(--dark-color);
  font-size: 18px;
}

footer {
  height: 8vh;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 16px;
}
